In [ ]:
! pip install tweepy pandas

In [47]:
import keys
import tweepy
import pandas as pd

api_key = keys.api_key
api_secrets = keys.api_secrets
access_token = keys.access_token
access_secret = keys.access_secret
 
# Authenticate to Twitter
auth = tweepy.OAuthHandler(api_key,api_secrets)
auth.set_access_token(access_token,access_secret)
 
api = tweepy.API(auth)
 
try:
    api.verify_credentials()
    print('Successful Authentication')
except:
    print('Failed authentication')

Successful Authentication

In [57]:
def get_tweets(username, num_of_tweets=500):
    """
    returns a dataframe of tweets information of the given username 
    """
    all_tweets = []
    tweets = api.user_timeline(screen_name=username, 
                           count=1,
                           include_rts = False,
                           tweet_mode = 'extended'
                           )
    all_tweets.extend(tweets)
    oldest_id = tweets[-1].id
    while len(all_tweets) < num_of_tweets:
        tweets = api.user_timeline(screen_name=username, 
                            count=200,              # 200 is the maximum allowed count
                            include_rts = False,
                            max_id = oldest_id - 1,
                            tweet_mode = 'extended' # Necessary to keep full_text otherwise only the first 140 words are extracted
                            )
        if len(tweets) == 0:
            break

        oldest_id = tweets[-1].id
        all_tweets.extend(tweets)
        print(f'N of tweets downloaded till now {len(all_tweets)}', end='\r')
    
    if len(all_tweets) >= num_of_tweets:
        all_tweets = all_tweets[:num_of_tweets]

    #transform the tweepy tweets into a 2D array that will populate the csv	

    outtweets = [[tweet.id_str, 
                tweet.created_at, 
                tweet.favorite_count, 
                tweet.retweet_count, 
                tweet.full_text.encode("utf-8").decode("utf-8")] 
                for idx,tweet in enumerate(all_tweets)]
    df = pd.DataFrame(outtweets,columns=["id","created_at","favorite_count","retweet_count", "text"])

    return df

In [63]:
username1 = "Cobratate"

df1 = get_tweets(username1, num_of_tweets=3000)
df1.to_csv(f'{username1}_tweets.csv', index=False, encoding='utf-8-sig')
print(f"Total number of tweets collected for {username1} : {df1.shape[0]}")
df1.head(3)

1648386719069224960
Total number of tweets collected for Cobratate : 1295

,id,created_at,favorite_count,retweet_count,text
0,1648386719069224960,2023-04-18 18:03:14+00:00,17046,594,@Morpheusresist Im so fucking cool.
1,1648265805916667909,2023-04-18 10:02:46+00:00,18678,897,#ClimateScam
2,1648258063005089792,2023-04-18 09:32:00+00:00,115065,8410,Do it. I don’t live in fear. https://t.co/m1hb...

In [62]:
username2 = "GretaThunberg"

df2 = get_tweets(username2, num_of_tweets=3000)
df2.to_csv(f'{username2}_tweets.csv', index=False, encoding='utf-8-sig')
print(f"Total number of tweets collected for {username2} : {df2.shape[0]}")
df2.head()

1646848227172311040
Total number of tweets collected for GretaThunberg : 802

,id,created_at,favorite_count,retweet_count,text
0,1646848227172311040,2023-04-14 12:09:48+00:00,2000,350,While we have many trees in plantations aimed ...
1,1646848037308846086,2023-04-14 12:09:03+00:00,1472,194,Sweden’s ever expanding forestry has been crit...
2,1646847888637476865,2023-04-14 12:08:28+00:00,949,133,The Swedish forestry model has been proven to ...
3,1646847099533664263,2023-04-14 12:05:20+00:00,8301,1358,Climate strike week 243. Today I’m striking ou...
4,1645145093555322881,2023-04-09 19:22:10+00:00,40676,13253,"I don’t know what is scarier, the fact that at..."

In [60]:
loaded_tweets = pd.read_csv(f'{username2}_tweets.csv', encoding='utf-8-sig')
print(loaded_tweets.shape[0])
loaded_tweets.head()

3000

,id,created_at,favorite_count,retweet_count,text
0,1648121850256412674,2023-04-18 00:30:44+00:00,1764,331,"On Yom HaShoah, we mourn the 6 million Jews mu..."
1,1646621938716950534,2023-04-13 21:10:37+00:00,1822,396,Restricting access to mifepristone has no basi...
2,1646245961570693120,2023-04-12 20:16:37+00:00,1399,272,"Join @LondonBreed, community leaders and me at..."
3,1646229038153994240,2023-04-12 19:09:22+00:00,916,172,It was my privilege to join @VetsHelpingVets t...
4,1645915327484825601,2023-04-11 22:22:48+00:00,1121,189,.@RepWexton is a valued Member of Congress who...