In [54]:
import pandas as pd

**Problem 1:**
Take the data sets Append_1.csv, and Append_2.csv and append the two sets together. Name the new data set Append.

In [55]:
append_1 = pd.read_csv("Append_1.csv", index_col=0)
append_2 = pd.read_csv("Append_2.csv", index_col=0)

In [56]:
append_1

         Id  Score
1  78917851     13
2  34554367     77
3  22173883     10

In [57]:
append_2

         Id  Score
1  56993289     72
2  26856261     51
3  33921834     99
4  97613637     63
5  78816868     28
6  67731229     17

In [58]:
Append = pd.concat([append_1, append_2])
Append.to_csv("Append.csv")
Append

         Id  Score
1  78917851     13
2  34554367     77
3  22173883     10
1  56993289     72
2  26856261     51
3  33921834     99
4  97613637     63
5  78816868     28
6  67731229     17

**Problem 2:**
Take the data sets Merge_1.csv and Merge_2.csv and perform an

inner join,
left join,
right join,
full join.
Name the resulting data sets, Inner, Left, Right, and Full.

In [59]:
merge_1 = pd.read_csv("Merge_1.csv", index_col=0)
merge_2 = pd.read_csv("Merge_2.csv", index_col=0)

In [60]:
merge_1

          Id  Score
4   68134933     71
7   22113381     69
9   31937926     98
2   17245265     41
3   42428425      9
10  92922546     67
1   31674694     96

In [61]:
merge_2

          Id  Score
8   23525437     54
7   22113381     69
9   31937926     98
2   17245265     41
10  92922546     67
6   38672872     76
1   31674694     96

**Inner**

In [62]:
Inner = pd.merge(merge_1, merge_2, on='Id', how='inner')
Inner

         Id  Score_x  Score_y
0  22113381       69       69
1  31937926       98       98
2  17245265       41       41
3  92922546       67       67
4  31674694       96       96

**Left**

In [63]:
Left = pd.merge(merge_1, merge_2, on='Id', how='left')
Left

         Id  Score_x  Score_y
0  68134933       71      NaN
1  22113381       69     69.0
2  31937926       98     98.0
3  17245265       41     41.0
4  42428425        9      NaN
5  92922546       67     67.0
6  31674694       96     96.0

**Right**

In [64]:
Right = pd.merge(merge_1, merge_2, on='Id', how='right')
Right

         Id  Score_x  Score_y
0  23525437      NaN       54
1  22113381     69.0       69
2  31937926     98.0       98
3  17245265     41.0       41
4  92922546     67.0       67
5  38672872      NaN       76
6  31674694     96.0       96

**Full**

In [65]:
Full = pd.merge(merge_1, merge_2, on='Id', how='outer')
Full

         Id  Score_x  Score_y
0  68134933     71.0      NaN
1  22113381     69.0     69.0
2  31937926     98.0     98.0
3  17245265     41.0     41.0
4  42428425      9.0      NaN
5  92922546     67.0     67.0
6  31674694     96.0     96.0
7  23525437      NaN     54.0
8  38672872      NaN     76.0

**Problem 3.** Take the Filter.csv data set, and filter the data so that the new data set has

(i) only rows where Id is a vowel and 
(ii) only columns where the column means of the original data are positive.
Name the new dataset Vowels.

In [66]:
Filter = pd.read_csv("Filter.csv", index_col=0)
Filter

,Id,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10
1,a,-3.131767,-1.296154,-0.840714,-0.511305,-0.276927,-0.030081,0.228564,0.509134,0.816408,1.209791
2,a,-2.753743,-1.293420,-0.830057,-0.510220,-0.271765,-0.029370,0.228574,0.510424,0.817482,1.215493
3,a,-2.717051,-1.288645,-0.828611,-0.509153,-0.271128,-0.027879,0.230532,0.511642,0.818404,1.224739
4,a,-2.475701,-1.279962,-0.824249,-0.499681,-0.266096,-0.027428,0.235311,0.515277,0.819011,1.225300
5,b,-2.450370,-1.267123,-0.822122,-0.498173,-0.264964,-0.019237,0.237964,0.515872,0.821571,1.236532
...,...,...,...,...,...,...,...,...,...,...,...
96,x,-1.325443,-0.861595,-0.522726,-0.285047,-0.043476,0.221000,0.493902,0.801205,1.195280,2.519736
97,x,-1.312452,-0.853865,-0.518978,-0.283813,-0.043063,0.221481,0.498393,0.801779,1.195526,2.535540
98,y,-1.300866,-0.850192,-0.517301,-0.283729,-0.038558,0.225658,0.498915,0.809598,1.199147,2.562716
99,z,-1.300555,-0.844371,-0.517238,-0.280365,-0.033863,0.225745,0.498943,0.809836,1.204194,2.583077
100,z,-1.299469,-0.840888,-0.513931,-0.280236,-0.033170,0.226953,0.508562,0.812575,1.208722,2.594796

In [67]:
Filter["Id"].unique()

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm',
       'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
      dtype=object)

**only rows where Id is a vowel**

In [68]:
Vowels = Filter[(Filter["Id"] == 'a') | (Filter["Id"] == 'e') | (Filter["Id"] == 'i') | (Filter["Id"] == 'o') | (Filter["Id"] == 'u')]
Vowels

,Id,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10
1,a,-3.131767,-1.296154,-0.840714,-0.511305,-0.276927,-0.030081,0.228564,0.509134,0.816408,1.209791
2,a,-2.753743,-1.293420,-0.830057,-0.510220,-0.271765,-0.029370,0.228574,0.510424,0.817482,1.215493
3,a,-2.717051,-1.288645,-0.828611,-0.509153,-0.271128,-0.027879,0.230532,0.511642,0.818404,1.224739
4,a,-2.475701,-1.279962,-0.824249,-0.499681,-0.266096,-0.027428,0.235311,0.515277,0.819011,1.225300
21,e,-2.071032,-1.167847,-0.760093,-0.461729,-0.227863,0.033444,0.284396,0.559895,0.871592,1.354335
22,e,-2.063066,-1.158616,-0.757211,-0.457241,-0.225684,0.035520,0.289390,0.560585,0.873613,1.359896
35,i,-1.846590,-1.104803,-0.727083,-0.410712,-0.201916,0.072672,0.326803,0.603491,0.936952,1.461178
36,i,-1.816983,-1.102528,-0.722621,-0.410241,-0.199493,0.073014,0.330990,0.613375,0.937777,1.469812
55,o,-1.625952,-1.020138,-0.655135,-0.371713,-0.143934,0.140601,0.395279,0.662332,1.025431,1.634369
56,o,-1.624472,-1.011244,-0.652875,-0.371476,-0.143122,0.146144,0.395987,0.664093,1.032519,1.635442
57,o,-1.623765,-1.007926,-0.650770,-0.371241,-0.142016,0.149244,0.400418,0.664547,1.037078,1.637068
58,o,-1.613101,-1.006028,-0.643169,-0.370309,-0.140304,0.151200,0.403982,0.665422,1.039321,1.645503
83,u,-1.402569,-0.908152,-0.561200,-0.313108,-0.068641,0.193865,0.465258,0.769225,1.135336,2.136592
84,u,-1.399668,-0.906932,-0.560007,-0.310695,-0.064179,0.203735,0.466399,0.771325,1.138102,2.204738
85,u,-1.398094,-0.904328,-0.553800,-0.307978,-0.061697,0.204181,0.467515,0.782652,1.139875,2.205843

In [69]:
Vowels.mean()

<ipython-input-69-cd15463a6dea>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Vowels.mean()

V1    -1.970904
V2    -1.097115
V3    -0.704506
V4    -0.412453
V5    -0.180318
V6     0.085924
V7     0.343293
V8     0.624228
V9     0.962593
V10    1.574673
dtype: float64

**only columns where the column means of the original data are positive**

In [70]:
index = ["Id"] + list(Vowels.mean()[Vowels.mean() > 0].index)
Vowels = Vowels[index]
Vowels

<ipython-input-70-eab92df07757>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  index = ["Id"] + list(Vowels.mean()[Vowels.mean() > 0].index)

   Id        V6        V7        V8        V9       V10
1   a -0.030081  0.228564  0.509134  0.816408  1.209791
2   a -0.029370  0.228574  0.510424  0.817482  1.215493
3   a -0.027879  0.230532  0.511642  0.818404  1.224739
4   a -0.027428  0.235311  0.515277  0.819011  1.225300
21  e  0.033444  0.284396  0.559895  0.871592  1.354335
22  e  0.035520  0.289390  0.560585  0.873613  1.359896
35  i  0.072672  0.326803  0.603491  0.936952  1.461178
36  i  0.073014  0.330990  0.613375  0.937777  1.469812
55  o  0.140601  0.395279  0.662332  1.025431  1.634369
56  o  0.146144  0.395987  0.664093  1.032519  1.635442
57  o  0.149244  0.400418  0.664547  1.037078  1.637068
58  o  0.151200  0.403982  0.665422  1.039321  1.645503
83  u  0.193865  0.465258  0.769225  1.135336  2.136592
84  u  0.203735  0.466399  0.771325  1.138102  2.204738
85  u  0.204181  0.467515  0.782652  1.139875  2.205843

**Problem 4.** Take the Filter.csv dataset, and take a simple random sample of the data with ten rows. Keep all columns. Name the new dataset SRS_Filter.

In [71]:
SRS_Filter = Filter.sample(n=10)
SRS_Filter

,Id,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10
33,h,-1.851523,-1.116075,-0.730374,-0.418997,-0.204623,0.069390,0.326372,0.593061,0.931471,1.445862
28,g,-1.920376,-1.130341,-0.747589,-0.433880,-0.217953,0.050783,0.305024,0.584860,0.907540,1.401449
4,a,-2.475701,-1.279962,-0.824249,-0.499681,-0.266096,-0.027428,0.235311,0.515277,0.819011,1.225300
83,u,-1.402569,-0.908152,-0.561200,-0.313108,-0.068641,0.193865,0.465258,0.769225,1.135336,2.136592
73,s,-1.493966,-0.953523,-0.585550,-0.335149,-0.106392,0.172522,0.440978,0.738883,1.108980,1.851876
43,k,-1.728480,-1.080078,-0.706661,-0.402224,-0.175476,0.105069,0.344536,0.630939,0.960875,1.530443
92,w,-1.342252,-0.880684,-0.535971,-0.293325,-0.053525,0.213526,0.485120,0.795896,1.183262,2.322315
35,i,-1.846590,-1.104803,-0.727083,-0.410712,-0.201916,0.072672,0.326803,0.603491,0.936952,1.461178
22,e,-2.063066,-1.158616,-0.757211,-0.457241,-0.225684,0.035520,0.289390,0.560585,0.873613,1.359896
88,v,-1.373489,-0.894175,-0.547327,-0.298458,-0.060777,0.212090,0.481328,0.786822,1.153319,2.247752

**Problem 5.** Randomly partition the Filter.csv data set into three subsets:

Train (70% of your data),
Validation (15% of your data),
Test (15% of your data).
For each of the three subsets, print the first three rows and the dimensions of the data set.

This can be easily done using scikit learn's train_test split.

In [72]:
from sklearn.model_selection import train_test_split

train, rest = train_test_split(Filter, train_size=0.7)
val, test = train_test_split(rest, test_size=0.5)

**Train**

In [73]:
train.head(3)

,Id,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10
26,f,-1.946607,-1.139348,-0.748591,-0.438135,-0.220299,0.047694,0.299317,0.571750,0.895055,1.385686
27,g,-1.924290,-1.131076,-0.747709,-0.434402,-0.219050,0.048025,0.303816,0.579613,0.905690,1.399997
43,k,-1.728480,-1.080078,-0.706661,-0.402224,-0.175476,0.105069,0.344536,0.630939,0.960875,1.530443

In [74]:
train.shape

(70, 11)

**Validation**

In [75]:
val.head(3)

,Id,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10
6,b,-2.382935,-1.267034,-0.820280,-0.497673,-0.263694,-0.007224,0.238389,0.517851,0.823538,1.250910
13,c,-2.220964,-1.225111,-0.790154,-0.485484,-0.245191,0.010737,0.264807,0.535023,0.848242,1.298393
95,x,-1.330359,-0.868267,-0.523089,-0.287184,-0.045273,0.218168,0.491043,0.800560,1.193899,2.403437

In [76]:
val.shape

(15, 11)

**Test**

In [77]:
test.head(3)

,Id,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10
67,q,-1.530090,-0.970026,-0.611584,-0.348402,-0.110745,0.166480,0.433666,0.714893,1.083748,1.777797
93,x,-1.337392,-0.871296,-0.529506,-0.293274,-0.050818,0.214479,0.488918,0.797204,1.191864,2.369410
44,k,-1.718103,-1.077033,-0.705715,-0.396122,-0.172683,0.105170,0.347219,0.634014,0.975761,1.550635

In [78]:
test.shape

(15, 11)